DEBUG=Запуск приложения в debug-режиме. Для запуска установить "True". ОПЦИОНАЛЬНО (По умолчанию False).
TIMEOUT=Время ожидания между итерациями синхронизации (в секундах). ОПЦИОНАЛЬНО (По умолчанию = 15 секунд).
DEBUG_TIMEOUT=Время ожидания между повторными попытками выполнения неудачных операций. ОПЦИОНАЛЬНО (По умолчанию = 3 секунды).

TOKEN=Ваш токен, полученный на сайте Яндекс.
PATH_LOCAL=Путь до локальной синхронизируемой директории.
PATH_HOST_YANDEX=Путь до синхронизируемом директории на Yandex.Disk.
